
.background-header {
  background-image: url(../../../../assets/images/background-header.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 254px;
}


ion-toolbar {
  --background: transparent;
  height: 100%;
  padding: 16px;
  flex-direction: column;
  display: flex;
}


.header-title {
  margin-top: 60px;

  h3 {
    width: 65%;
  }
}

.search-container {
  margin-top: 30px;

  ion-item {
    --background: transparent;
    width: 80%;
    --padding-start: 0px;
    border-bottom: 1px solid white;
  }

  ion-input {
    --background: transparent;
    --color: white;
    --highlight-color-focused: white;
    --border-color: white;
    --border-width: 2px;
    --highlight-color-valid: white;
    --padding-start: 10px;
  }

  .container-filter {
    width: 20%;
  }

  ion-icon {
    font-size: 27px;
  }
}