/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html {
  font-family: 'Roboto', sans-serif;
}


.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.d-flex {
  display: flex;
}

.text-white {
  color: white;
}


.type.normal {
	//background-color: #A8A878;
  background-color: rgba(146, 145, 145, 0.856);
	//border-color: #6D6D4E;
}

.type.fire {
	background-color: #F08030;
	border-color: #9C531F;
}

.type.water {
	background-color: #6890F0;
	border-color: #445E9C;
}

.type.electric {
	background-color: #F8D030;
	border-color: #A1871F;
}

.type.grass {
	background-color: #78C850;
	border-color: #4E8234;
}

.type.ice {
	background-color: #98D8D8;
	border-color: #638D8D;
}

.type.fighting {
	background-color: #C03028;
	border-color: #7D1F1A;
}

.type.poison {
	background-color: #A040A0;
	border-color: #682A68;
}

.type.ground {
	background-color: #E0C068;
	border-color: #927D44;
}

.type.flying {
	background-color: #A890F0;
	border-color: #6D5E9C;
}

.type.psychic {
	background-color: #F85888;
	border-color: #A13959;
}

.type.bug {
	background-color: #A8B820;
	border-color: #6D7815;
}

.type.rock {
	background-color: #B8A038;
	border-color: #786824;
}

.type.ghost {
	background-color: #705898;
	border-color: #493963;
}

.type.dragon {
	background-color: #7038F8;
	border-color: #4924A1;
}
.type.dark {
	background-color: #705848;
	border-color: #49392F;
}

.type.steel {
	background-color: #B8B8D0;
	border-color: #787887;
}

.type.fairy {
	background-color: #EE99AC;
	border-color: #9B6470;
}
