ion-card {
  .img-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(179, 179, 179, 0.295);
    img {
      margin-top: -30px;
      width: 200px;
      height: 200px;
      object-fit: contain;
    }
  }

  ion-card-title {
    font-weight: bold;
    text-transform: capitalize;
  }

  .experience-text {
    margin-left: 30px;
  }
}

ion-badge {
  margin: 10px 10px 10px 0px;
  background-color: rgba(179, 179, 179, 0.295);
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  color: grey;
  font-weight: normal;
  text-transform: capitalize;
}